* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  color: #333;
}

header {
  padding: 20px;
  height: auto;
}

.main-container {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.index-intro {
  max-width: 600px;
  margin: 0 auto;
}

.index-intro h2 {
  margin-top: 20px;
}

.index-intro p {
  line-height: 1.6;
}

footer {
  margin-top: auto;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
}

footer .container {
  padding: 0;
}

footer h5,
footer p {
  margin-bottom: 5px;
}

footer iframe {
  height: 100px;
}

.form-login {
  max-width: 400px;
  margin: 0 auto;
}

.form-signup {
  max-width: 800px;
  margin: 0 auto;
}
