* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

p {
  font-size: 16px;
  font-family: Roboto;
  color: #fff;
  line-height: 24px;
}

h4 {
  font-size: 22px;
  font-family: Roboto;
  color: #1E1E1E;
  line-height: 32px;
}

header {
  background-color: #161616;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu-main {
  margin-right: auto;
  display: flex;
  list-style-type: none;
}
.menu-member {
  display: flex;
  list-style-type: none; 
}

.menu-main li,
.menu-member li {
  margin-right: 15px;
}

.logo {
  height: 75px;
  width: auto;
  margin-right: 10px;
}

.header-login-a {
  color: #fff; 
}

.fondo {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 25px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  border: 1px solid #dee2e6;
  padding: 8px;
}

.table th {
  background-color: #343a40;
  color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa;
}

a {
  color: #007bff;
}

a:hover {
  color: #891c6c;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 10px;
  }
}